@font-face {
    font-family: 'Equinox';
    src: url('./assets/fonts/Equinox\ Bold.otf') format('opentype');
}

@font-face {
    font-family: 'GoldenDemo';
    src: url('./assets/fonts/Golden\ Ninety\ Demo.otf') format('truetype');
}

@font-face {
    font-family: 'Delta';
    src: url('./assets/fonts/DELTA\ BOLD.otf') format('opentype');
}

